{# imoveis/partials/lista_imoveis.html #}
{% load humanize %}

{% for imovel in imoveis %}
<div class="result-card" id="imovel-card-{{ imovel.pk }}" data-imovel-id="{{ imovel.pk }}">
    
    <div class="card-header-address">
        <i class="fa-solid fa-location-dot fa-fw"></i>
        <span>{{ imovel.address|default:"Endereço não informado" }}</span>
    </div>

    <div class="card-main-content">
        
        <div class="card-left-col">
            <a href="{% url 'imovel-detail-page' imovel.pk %}" target="_blank" class="card-image-container">
                <img src="{{ imovel.image_url|default:'https://via.placeholder.com/300x200.png?text=Sem+Foto' }}" alt="{{ imovel.title }}" class="card-image">
                
                {% if imovel.situacao %}
                    <div class="card-tag-overlay {% if 'Ocupado' in imovel.situacao %}tag-ocupado{% endif %}">
                        {{ imovel.situacao }}
                    </div>
                {% endif %}
            </a>
            <div class="card-title-bar">
                <h5 class="card-title">{{ imovel.tipo_imovel }}</h5>
                <h5 class="card-title">{{ imovel.title }}</h5>
            </div>
        </div>

        <div class="card-right-col">
            {% if user.is_authenticated %}
                <div class="favorite-icon-wrapper">
                    {% include "imoveis/partials/favorito_icon.html" with imovel=imovel is_favorited=imovel.is_favorited %}
                </div>
            {% endif %}

            <ul class="card-specs-list">
                <li><i class="fa-solid fa-ruler-combined fa-fw"></i> 
                {% if imovel.area_total %} {{ imovel.area_total|floatformat:0 }} m² {% else %} Sem Info {% endif %}
            </li>
                <li><i class="fa-solid fa-bed fa-fw"></i> {% if imovel.quartos %} {{ imovel.quartos }} quarto(s) {% else %} Sem Info {% endif %}</li>
                <li><i class="fa-solid fa-car fa-fw"></i> {% if imovel.garagem %} {{ imovel.garagem }} vaga(s) {% else %} Sem Info {% endif %}</li>
            </ul>

            <div class="card-footer">
                <p class="price">R$ {{ imovel.amount|intcomma }}</p>
            </div>
        </div>

    </div>
</div>
{% endfor %}

{% if not imoveis %}
    <p style="padding: 20px;">Nenhum imóvel encontrado para os filtros selecionados.</p>
{% endif %}